/* line 1, ../sass/pressit.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 5, ../sass/pressit.scss */
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: #3D68AA;
  color: #fff;
}
/* line 13, ../sass/pressit.scss */
.container h1 {
  margin: 0 auto;
  padding: 90px 0px;
  font-size: 48px;
  text-align: center;
}
/* line 20, ../sass/pressit.scss */
.container a {
  text-decoration: none;
  color: #67A2FF;
  transition: .3s ease;
}
/* line 26, ../sass/pressit.scss */
.container a:hover {
  color: #FF6054;
}
/* line 30, ../sass/pressit.scss */
.container .info {
  text-align: center;
  margin-top: 60px;
}

/* line 36, ../sass/pressit.scss */
.pressit {
  margin: 120px 0 0 50%;
  padding: 0;
  position: relative;
  left: -100px;
  width: 200px;
  height: 75px;
  background: #5C91E4;
  border: none;
  color: #fff;
  font-size: 1.5em;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.27);
  -webkit-perspective: 200;
  -webkit-transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transition: .5s;
  text-align: center;
}

@-webkit-keyframes press-left {
  /* line 57, ../sass/pressit.scss */
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 62, ../sass/pressit.scss */
  50% {
    -webkit-transform: rotateY(-15deg);
    transform: rotateY(-15deg);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.27);
  }

  /* line 68, ../sass/pressit.scss */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.17);
  }
}

@-webkit-keyframes press-right {
  /* line 76, ../sass/pressit.scss */
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 81, ../sass/pressit.scss */
  50% {
    -webkit-transform: rotateY(15deg);
    transform: rotateY(15deg);
    box-shadow: -3px 2px 5px rgba(0, 0, 0, 0.27);
  }

  /* line 87, ../sass/pressit.scss */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.17);
  }
}

@-webkit-keyframes press-top {
  /* line 95, ../sass/pressit.scss */
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  /* line 100, ../sass/pressit.scss */
  50% {
    -webkit-transform: rotateX(15deg);
    transform: rotateX(15deg);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.17);
  }

  /* line 106, ../sass/pressit.scss */
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.27);
  }
}

@-webkit-keyframes press-bottom {
  /* line 115, ../sass/pressit.scss */
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  /* line 120, ../sass/pressit.scss */
  50% {
    -webkit-transform: rotateX(-15deg);
    transform: rotateX(-15deg);
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.17);
  }

  /* line 126, ../sass/pressit.scss */
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.17);
  }
}

/* line 133, ../sass/pressit.scss */
.press-top {
  -webkit-animation-name: press-top;
  animation-name: press-top;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: .3s;
}

/* line 140, ../sass/pressit.scss */
.press-bottom {
  -webkit-animation-name: press-bottom;
  animation-name: press-bottom;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: .3s;
}

/* line 147, ../sass/pressit.scss */
.press-left {
  -webkit-animation-name: press-left;
  animation-name: press-left;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: .3s;
}

/* line 154, ../sass/pressit.scss */
.press-right {
  -webkit-animation-name: press-right;
  animation-name: press-right;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: .3s;
}
